<ActionBar title="Product list"></ActionBar>

<GridLayout rows="auto, *">
  <Button text="Add product" class="btn btn-primary" (tap)="onAddProduct()"></Button>

  <StackLayout row="1">
    <ListView [items]="products" *ngIf="!isLoading" (itemTap)="onProductTap($event)">
      <ng-template let-product="item">
        <GridLayout class="list-item" columns="60, *">
          <Image col="0" [src]="product.image" width="60" height="60" stretch="aspectFill"></Image>
          <StackLayout col="1">
            <Label [text]="'Product name: ' + (product.name || '')" class="product-name"></Label>
            <Label [text]="'Code: ' + (product.code || '')" class="product-code"></Label>
            <Label [text]="(product.available !== false) ? 'In stock' : 'Sold out'" class="product-availability"></Label>
          </StackLayout>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</GridLayout>


